In [18]:
import pandas as pd
import dataframe_image as dfi

In [19]:
filepath = "data/Summer_Staff_Inspection_Tracker_8_3.xlsx"

In [20]:
pd.set_option('display.max_colwidth', 255)
pd.set_option('display.max_rows', 500)

In [21]:
df_dict = pd.read_excel(filepath, sheet_name=None)

In [22]:
columns = {
    "RD Input" : "Unit",
    "Unnamed: 1" : "Ready",
    "Unnamed: 2" : "RD Notes",
    "Unnamed: 3" : "Deadline", 
    "Unnamed: 4" : "Person",
    "Unnamed: 7" : "Complete",
}

In [23]:
col_to_drop = ["Unnamed: 5", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10", "Unnamed: 11"]

In [24]:
students = {}

In [25]:
for data in df_dict.values():
    print("Cleaning Data...")
    try:
        data.drop(index=0, inplace=True)
        data.drop(index=1, inplace=True)
    except:
        print("Error: No Such Row (Row Already Deleted)")
    try:
        data.drop(columns=col_to_drop, inplace=True)
    except:
        print("Error: No Such Columns (Columns Already Deleted)")
    try:
        data.rename(columns=columns, inplace=True)
    except:
        print("Error: Columns already renamed")
    try:
        data.dropna(subset="Person", inplace=True)
    except:
        print("Error: No Null Values Found")
    try:
        data["Deadline"] = pd.to_datetime(data["Deadline"])
    except:
        print("Error: Datetime Conversion")
    print("Data Cleaned.")

Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Data Cleaned.
Cleaning Data...
Error: No Such Columns (Columns Already Deleted)
Data Cleaned.

In [26]:
df = pd.concat(df_dict)

In [27]:
columns = ["Unit", "Ready", "RD Notes", "Deadline", "Person", "Complete", "Admin RD Input"]
df = df[columns]

In [28]:
df = df[df["Complete"] == False]
df.set_index("Person", inplace=True)

In [29]:
df["Deadline"] = pd.to_datetime(df["Deadline"])

In [30]:
df["Unit"].fillna(df["Admin RD Input"], inplace=True)
df.drop(columns=["Admin RD Input", "Complete"], inplace=True)

In [31]:
df = df.sort_values(by=["Person", "Deadline", "Unit"])

In [32]:
df.set_index([df.index, df["Deadline"]], inplace=True)
df.drop(columns="Deadline", inplace=True)

In [33]:
display(df)

                            Unit  Ready  \
Person  Deadline
Adam    2023-08-03    UP Men 104   True
        NaT           UP Men 149  False
Aliza   2023-08-03   Colony N K8   True
        NaT           UP Men 111  False
Ana     2023-07-27   Colony N N6   True
        2023-08-02  Colony E KK2   True
        2023-08-02   Colony N N1   True
        2023-08-02  Colony W RR1   True
        2023-08-03  Colony W PP1   True
Cadence 2023-08-03   Colony N G3   True
        2023-08-03   Colony N G4   True
        2023-08-03    UP Men 202  False
Paul    2023-07-27   Colony N L2   True
        2023-08-02   Colony N M2   True
        2023-08-02      Point 33   True
        2023-08-02      Point 82   True
        2023-08-02   Village 207   True
        2023-08-02   Village 508   True
        2023-08-03   Colony N M3   True
Sadie   2023-06-29    UP Men 120  False
        2023-06-29    UP Men 153  False
        2023-08-03  Colony E MM3   True

                                                                       RD Notes
Person  Deadline
Adam    2023-08-03                                                          NaN
        NaT                                                                 NaN
Aliza   2023-08-03                                                          NaN
        NaT                                                                 NaN
Ana     2023-07-27                     Please inspect all bedspaces; unit empty
        2023-08-02                                                   unit empty
        2023-08-02                      Please inspect A1 bedspaces; unit empty
        2023-08-02  no current residents in unit, please inspect all bed spaces
        2023-08-03  no current residents in unit, please inspect all bed spaces
Cadence 2023-08-03                       unit empty; please inspect A1 bedspace
        2023-08-03                       unit empty; please inspect A1 bedspace
        2023-08-03                                                          NaN
Paul    2023-07-27                  Please inspect A room bedspaces; unit empty
        2023-08-02                   Please inspect A1/A3 bedspaces; unit empty
        2023-08-02                                                Unit is empty
        2023-08-02                                                Unit is empty
        2023-08-02                                                          NaN
        2023-08-02                                                          NaN
        2023-08-03           Please inspect all bedspaces; unit empty until 8/4
Sadie   2023-06-29                                                   Unit empty
        2023-06-29                                                   Unit empty
        2023-08-03                     Please inspect all bedspaces; unit empty

In [34]:
dfi.export(df, 'dataframe.png')